services:
  - type: static
    name: foodies-fe
    env: node
    branch: main
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    autoDeploy: true
    envVars:
      - key: VITE_API_BASE_URL
        value: https://foodies-backend-f960.onrender.com/api
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
